<table cellspacing="5px">
  <tr>
    <th align="left">Books</th>
    <th align="left">Library</th>
    <th align="left">Category</th>
    <th align="left">Action</th>
  </tr>
<%@b.each_with_index do |book,index| %>
<tr>
	<td><%= "#{index+1}) #{book.book_name} "%></td>

	<td><%= " #{@l.find(@c.find(book.category_id).librery_id).libray_name} "%></td>

	<td><%= " #{@c.find(book.category_id).name} "%></td>

  <% if can? :update,book %>
	<td align="left"><%= link_to 'Edit', edit_book_path(book) %>
   <%end%> 
  </td>
  <% if can? :destroy,book %>
  <td align="left"><%= link_to 'Destroy', book_path(book), method: :delete , data: { confirm: 'Are you sure?'} %>
    <%end%>
  </td>
<%end%>

</tr>
<td>
  <% if can? :create,Book %>
  <%= link_to '<button type="button">Add New Book</button>'.html_safe ,new_book_path %>
  <%end%>
   <%= link_to  '<button type="button">Library</button>'.html_safe , libreries_path %><%= link_to  '<button type="button">CAtegory</button>'.html_safe , categories_path %></td>
</table>